BODY
{
    
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
	LINE-HEIGHT : 10pt;
	background-repeat:no-repeat;
    background-position:left top;
    
 
 }



TD
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 8pt;
	LINE-HEIGHT : 10pt;
    TEXT-DECORATION: none;
    
}







