<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=194.150.108.154;Database=timeout_xxx;User ID=to_outzource2;Password=SKba200473" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="170000000" maxUrl="140960" maxQueryString="1240480" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
    <httpErrors errorMode="Detailed" />
    <!--<staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>-->
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="600" maxRequestLength="60971510" />
    <sessionState timeout="820" useHostingIdentity="true" />
    <httpCookies domain="timeout.cloud" />
    <pages validateRequest="false" />
    <compilation debug="false">
    </compilation>
  </system.web>
  

  <appSettings>
    <add key="dk.outzource_importhours.ozimporthours" value="https://outzource.dk/timeout_xp/wwwroot/ver2_10/timereg_net/ozimporthours.asmx" />
    <add key="importjob2_ds.ozimportjob2_ds" value="http://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportjob2_ds.asmx" />
    <add key="dk_rack.outzource_importhours.ozimporthours" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx" />
    <add key="dk_rack.outzource_timeout2_importhours.ozimporthours" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx" />
    <add key="WebReferenceNAVTia.TestWS" value="http://109.70.55.147:17047/DynamicsNAV70/WS/TestCompany/Page/TestWS" />
    <add key="WebReferenceNAVTia.SystemService" value="http://109.70.55.147:17047/DynamicsNAV70/WS/TestCompany/SystemService" />
    <add key="dk_rack.outzource_timeout2_importmed_ds.ozimportmed_ds" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportmed_ds.asmx" />
    <add key="dk_rack.cloud_timeout_importmed_ds.ozimportmed_ds" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportmed_ds.asmx" />
    <add key="WebReferenceNavTiaNW1.TestWS" value="http://109.70.55.147:17047/DynamicsNAV70/WS/TestCompany/Page/TestWS" />
    <add key="WebReferenceNAVTia_res.Resources" value="http://109.70.55.147:17047/TIA/WS/TIA DK/Page/Resources" />
    <add key="dk_rack.outzource_timeout2_importmed_nav.ozimportmed_nav_tia" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportmed_nav_tia.asmx" />
    <add key="WebReferenceNAVTia_sendhours.TimeOut" value="http://109.70.55.147:17047/TIA/WS/TIA DK/Codeunit/TimeOut" />
    <add key="WebReferenceNAVTia_job.Jobs" value="http://109.70.55.147:17047/TIA/WS/TIA DK/Page/Jobs" />
    <add key="WebReferenceNAvTia_akt.JobTasks" value="http://109.70.55.147:17047/TIA/WS/TIA DK/Page/JobTasks" />
    <add key="dk_rack.weekrapport.ozreportws" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozreportws.asmx" />
  <add key="dk_rack.weekrapport_lto.ozreportws_lto" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozreportws_lto.asmx" />
  </appSettings>
</configuration>