<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=194.150.108.154;Database=timeout_XXX;User ID=to_outzource2;Password=SKba200473" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="170000000" maxUrl="140960" maxQueryString="1240480"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <httpErrors errorMode="Detailed"/>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
    </staticContent>
  </system.webServer>



  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="36000" maxRequestLength="60971510"/>
    <sessionState timeout="820" useHostingIdentity="true"/>
    <httpCookies domain="timeout.cloud"/>
    <pages validateRequest="false"/>
    <compilation debug="false" />
  </system.web>
  <appSettings>
    <add key="dk.outzource_importhours.ozimporthours" value="https://outzource.dk/timeout_xp/wwwroot/ver2_10/timereg_net/ozimporthours.asmx"/>
    <add key="importjob2_ds.ozimportjob2_ds" value="http://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportjob2_ds.asmx"/>
    <add key="dk_rack.outzource_importhours.ozimporthours" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx"/>
    <add key="dk_rack.outzource_timeout2_importhours.ozimporthours" value="https://timeout.cloud/timeout_xp/wwwroot/ver2_14/timereg_net/ozimporthours.asmx"/>
  </appSettings>
</configuration>


