<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2000000" />
        </requestFiltering>
      </security>
    
          <httpErrors errorMode="Detailed" />
          <asp scriptErrorSentToBrowser="true"/>


            <defaultDocument enabled="false">
              <files>
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                        <add value="login.asp" />
              </files>
            </defaultDocument>
      
          <directoryBrowse enabled="false" />
          <staticContent>
              <mimeMap fileExtension=".asp" mimeType="text/plain" />
          </staticContent>
    </system.webServer>
  
  <system.web>
    <customErrors mode="Off" />
   </system.web>
  
  <webHttpBinding>
    <binding name="MessageSizeWeb" maxReceivedMessageSize="5147483647" />
  </webHttpBinding>
  
  <appSettings>
  <add key="dk.outzource.to_createjob" value="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/to_createjob.asmx" />
  </appSettings>
</configuration>