<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="7000000" maxUrl="4096" maxQueryString="4048"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <httpErrors errorMode="Detailed"/>
  </system.webServer>
  <system.web>
    <sessionState timeout="820"/>
  </system.web>
  <appSettings>
    <add key="dk.outzource_importjob.ozimportjob" value="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimportjob.asmx"/>
    <add key="dk.outzource_import.ozimporthours" value="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimporthours.asmx"/>
    <add key="dk.outzource_addakt.ozimportakt" value="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/ozimportakt.asmx"/>
    <add key="dk_rack.outzource_timeout2.ozimportjob2" value="http://timeout2.outzource.dk/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportjob2.asmx"/>
    <add key="dk_rack.outzource_timeout2_importakt.ozimportakt" value="http://timeout2.outzource.dk/timeout_xp/wwwroot/ver2_14/timereg_net/ozimportakt.asmx"/>
  </appSettings>
</configuration>