################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ver2_1/inc/log/data
/ver2_1/inc
