<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=103.240.162.94;Database=outzource;User ID=outzource;Password=admin123" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Database=timeout_intranet;User ID=root;Password=SKba200473" />-->
  </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
