<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

     

      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="7000000" maxUrl="4096" maxQueryString="4048" />
        </requestFiltering>
      </security>

      


      <directoryBrowse enabled="false" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
  
    <system.web>
        <sessionState timeout="820" />
       <httpCookies domain="timeout2.outzource.dk" />
    </system.web>


  
  

</configuration>


