<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="72000" maxRequestLength="90971510"/>
    <httpCookies domain="timeout.cloud"/>
    <pages validateRequest="false"/>
    <compilation debug="false"/>
  
  </system.web>

  


</configuration>
