<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>

  <!-- Add the email settings to the <system.net> element -->
    <system.net>
      <mailSettings>

        <smtp>
          <network host="webmail.abusiness.dk" port="25" userName="timeout_no_reply@outzource.dk" password="SKba200473" />
        </smtp>


        <!-- Use the following <smtp> settings to have the emails dumped to a directory... -->
<!--
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory
              pickupDirectoryLocation="directoryPath (like C:\MyEmails\)" />
        </smtp>
-->
      </mailSettings>
    </system.net>
  
    <system.web>
      <compilation debug="true"></compilation>
    </system.web>
</configuration>
