
  


BODY
{
    
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 10pt;
	LINE-HEIGHT : 12pt;
	

 

 }





TD
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 10pt;
	LINE-HEIGHT : 12pt;
    TEXT-DECORATION: none;
    
    
}

P
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 10pt;
	LINE-HEIGHT : 12pt;
    TEXT-DECORATION: none;
    
}

H4
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 12pt;
	LINE-HEIGHT : 16pt;
    TEXT-DECORATION: none;
    
}

div
{
    COLOR: #000000;
    FONT-FAMILY: arial;
    FONT-SIZE: 10pt;
	LINE-HEIGHT : 12pt;
    TEXT-DECORATION: none;
    
    
}






