BODY
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
}

Body.login {
background-color :#8CAAE6;
}

Body.regular {
	background-color : #d6dff5;
	background-image : url(../../ill/bagg-regular.jpg);
	background-repeat : no-repeat;
}

/* Bruges til blå links ***/
A:link, A:visited, A:active
{
    COLOR: #215DC6;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
   	TEXT-DECORATION: none;
	FONT-weight: bold;
}
A:hover
{
    COLOR: #8FACE6;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
}


/* Bruges til hvide links ***/
A.alt:link, A.alt:active, A.alt:visited
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

A.alt:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
}

/* Bruges til venste menu links ***/
A.vmenu:link, A.vmenu:visited, A.vmenu:active {
	color : #215DC6;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.vmenu:hover
{
    COLOR: #8FACE6;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

A.vmenulille:link, A.vmenulille:visited, A.vmenulille:active {
	color : #215DC6;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.vmenulille:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}

/* Bruges til links i kalender ***/
A.kalblue:link, A.kalblue:visited, A.kalblue:active {
	color : #003399;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	FONT-weight: lighter;
	
}

A.kalblue:hover
{
    COLOR: #003399;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til aktiviteter på timereg siden ***/
A.megetlilleblaa:link, A.megetlilleblaa:visited, A.megetlilleblaa:active {
	color : #003399;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 11px;
    TEXT-DECORATION: none;
	
}

A.megetlilleblaa:hover
{
    COLOR: #999999;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 11px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til røde links i kalender ***/
A.red:link, A.red:visited, A.red:active {
	color : red;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.red:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til røde links i kalender ***/
A.helplink:link, A.helplink:visited, A.helplink:active {
	color : red;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
	
}

A.helplink:hover
{
    COLOR: #999999;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til højre menu links ***/
A.rmenu:link, A.rmenu:visited, A.rmenu:active {
	color : #215DC6;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.rmenu:hover
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til venste menu links (Grå) ***/
A.vmenualt:link, A.vmenualt:visited, A.vmenualt:active {
	color : #999999;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.vmenualt:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

A.vmenuslet:link, A.vmenuslet:visited, A.vmenuslet:active {
	color : red;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.vmenuslet:hover
{
    COLOR: red;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til venste menu links (Grøn) ***/
A.vmenuglobal:link, A.vmenuglobal:visited, A.vmenuglobal:active {
	color : #6BD239;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

A.vmenuglobal:hover
{
    COLOR: #999999;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: underline;
	
}

/* Bruges til kalender (Graa) ***/
A.kal_g:link, A.kal_g:visited, A.kal_g:active {
	color : gray;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.kal_g:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}


/* Bruges til firmaoversigt (Grøn) ***/
A.fir_gr:link, A.fir_gr:visited, A.fir_gr:active {
	color : #6BD239;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.fir_gr:hover
{
    COLOR: #003399;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}

/* (Darkred) ***/
A.fir_r:link, A.fir_r:visited, A.fir_r:active {
	color : darkred;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.fir_r:hover
{
    COLOR: darkred;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}

/* Bruges til firmaoversigt (Graa) ***/
A.fir_g:link, A.fir_g:visited, A.fir_g:active {
	color : gray;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.fir_g:hover
{
    COLOR: #003399;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}

/* Bruges til kunde_log (Blaa) ***/
A.klog:link, A.klog:visited, A.klog:active {
	color : #215DC6;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 16px;
    TEXT-DECORATION: none;
}

A.klog:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 16px;
    TEXT-DECORATION: underline;
}



/* Bruges til kalender (Graa BOLD) ***/
A.kal_g_bold:link, A.kal_g_bold:visited, A.kal_g_bold:active {
	color : gray;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
	
}

A.kal_g_bold:hover
{
    COLOR: #B4C7EF;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
	
}



/* Bruges til ERP  ***/
A.erp_green:link, A.erp_green:visited, A.erp_green:active {
	color : green;
	FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

A.erp_green:hover
{
    COLOR: #8caae6;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: underline;
}




	
/** vmenu2 **/	
A.vmenu2, A.vmenu2:visited {
	line-height : 20px;
}

/* Fonte ***/
font.lilleblaa {
	color:#D4DDF5;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.stor-hvid {
	color:#ffffff;
	font-family:tahoma,arial,sans-serif;
	font-size:11px;
	font-weight : bold;
}
font.lillehvid {
	color:#ffffff;
	font-family:arial,sans-serif;
	font-size:11px;
}

font.lilleorange {
	color:darkorange;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.lillelimegreen {
	color:limegreen;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.lillesort {
	color:#000000;
	font-family:arial,sans-serif;
	font-size:11px;
	line-height:normal;
}
font.megetlillesort {
	color:#000000;
	font-family:arial,sans-serif;
	font-size:9px;
	line-height:normal;
    TEXT-DECORATION: none;
}
font.megetlilleblaa {
	color:#D4DDF5;
	font-family:arial,sans-serif;
	font-size:9px;
	LINE-HEIGHT : 10px;
    TEXT-DECORATION: none;
}
font.megetlillehvid {
	color:#ffffff;
	font-family:arial,sans-serif;
	font-size:9px;
	
    TEXT-DECORATION: none;
}
font.megetmegetlillesort {
	color:#000000;
	font-family:arial, sans-serif;
	font-size:7px;
	line-height:normal;
    TEXT-DECORATION: none;
}
font.megetlillesilver {
	color:#999999;
	font-family:arial,sans-serif;
	font-size:10px;
}
font.medlillesilver {
	color:Silver;
	font-family:arial,sans-serif;
	font-size:10px;
}
font.lillegray {
	color:#999999;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.lille003399 {
	color:#003399;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.megetmegetlillehvid {
	color:#ffffff;
	font-family:arial, sans-serif;
	font-size:7px;
	line-height:normal;
    TEXT-DECORATION: none;
}
font.megetlille003399 {
	color:#003399;
	font-family:arial,sans-serif;
	font-size:9px;
	LINE-HEIGHT : 10px;
    TEXT-DECORATION: none;
}
font.storhvid, A.storhvid {
	color:#ffffff;
	font-family:arial,sans-serif;
	font-size:12px;
}
font.storsilver, A.storsilver {
	color:silver;
	font-family:arial,sans-serif;
	font-size:12px;
}
font.lille-kalender {
	color:black;
	font-family:arial,sans-serif;
	font-size:11px;
}
font.stor-blaa {
	color:#003399;
	font-family:arial,sans-serif;
	font-size:18px;
	line-height : 22px;
}

TD
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}
TD.lille
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	
}
TD.lillerod
{
    COLOR: red;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	
}
TD.lillegron
{
    COLOR: green;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	
}
TD.mlille
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 9px;
	LINE-HEIGHT : 11px;
    TEXT-DECORATION: none;
}
TD.lille-print
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 11px;
    TEXT-DECORATION: none;
}
TD.lillegray
{
    COLOR: #999999;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

TD.alt_lille
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
	LINE-HEIGHT : 11px;
    TEXT-DECORATION: none;
}
TD.alt
{
	COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 12px;
    TEXT-DECORATION: none;
}

TD.altstor
{
	COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
	
}

td.blaa
{
    COLOR: #215DC6;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
   	TEXT-DECORATION: none;
	
}
td.lysblaastor
{
    COLOR: #eff3ff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
	LINE-HEIGHT : 14px;
   	TEXT-DECORATION: none;
	
}


/* Bruges til fejlbeskeder */
Font.error
{
    COLOR: darkRed;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 16px;
    TEXT-DECORATION: none;
	
}	
font.roed
{
	COLOR: darkRed;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

font.sort
{
	COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

font.silver
{
	COLOR: silver;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

font.lilleroed
{
	COLOR: Red;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
    LINE-HEIGHT : 11px;
    TEXT-DECORATION: none;
}

font.limegreen
{
	COLOR: limegreen;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 11px;
	LINE-HEIGHT : 14px;
    TEXT-DECORATION: none;
}

font.lilleblaa
{
	COLOR: #5582d2;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px;
}

input.oversigt {
	border: 1px; 
	background-color: #ffffe1; 
	border-color: #000000; 
	border-style: solid; 
	padding-left : 2px;
	padding-right : 2px; 
	width:30px;
}


/* standard timeout table 1 */
table.to_1 thead {
	background-color : #5582d2;
	font-family : verdana,arial,helvetica;
	font-size : 9px;
	color : #ffffff;
	height:30px;
	padding : 3px;
}

table.to_1 th.left {
	border-top:#003399 solid 1px;
	border-left:#003399 solid 1px;
	border-right:#003399 solid 1px;
}

table.to_1 th.center {
	border-top:#003399 solid 1px;
	border-right:#003399 solid 1px;
}

table.to_1 th.right {
	border-top:#003399 solid 1px;
	border-right:#003399 solid 1px;
}


table.to_1 tbody {
	font-family : verdana,arial,helvetica;
	font-size : 9px;
	padding : 3px;
}


table.to_1 tr.first {
	background-color : #ffffff;
}


table.to_1 td.firstleft {
border-left:#003399 solid 1px;
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;
}

table.to_1 td.first {
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;
}

table.to_1 td.firstright {
border-right:#003399 solid 1px;
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;
}


table.to_1 tr.second {
	background-color : #d6dff5;
}

table.to_1 td.secondleft {
border-left:#003399 solid 1px;
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;
}

table.to_1 td.second {
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;	
}

table.to_1 td.secondright {
border-right:#003399 solid 1px;
font-family : verdana,arial,helvetica;
font-size : 9px;
color : #000000;
}


table.to_1 tr.last {
	background-color : #5582d2;
	height:10px;
}

table.to_1 td.lastleft {
	border-left:#003399 solid 1px;
	border-bottom:#003399 solid 1px;
}

table.to_1 td.last {
	border-bottom:#003399 solid 1px;
}

table.to_1 td.lastright {
	border-right:#003399 solid 1px;
	border-bottom:#003399 solid 1px;
}


table.to_1 tr.silver {
	background-color : silver;
}


table.to_1 td.silverleft {
	border-left:#003399 solid 1px;
}

table.to_1 td.silver {
	
}

table.to_1 td.silverright {
	border-right:#003399 solid 1px;
}

b.news {
font-family:arial; 
font-size:14px; 
color:#000000;
}

p {
font-family:arial; 
font-size:13px; 
color:#999999;
}




