<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2000000" />
        </requestFiltering>
      </security>


      <directoryBrowse enabled="false" />
    </system.webServer>
  
    <system.web>
        <sessionState timeout="820" />
    </system.web>



  <appSettings>
    <add key="dk.outzource.to_createjob" value="https://outzource.dk/timeout_xp/wwwroot/ver2_1/timereg_net/to_createjob.asmx"/>
  </appSettings>
  
</configuration>
